extends layout

block content
  img.jbnuLogo.img-responsive(src='/images/school/jbnuLogo.jpg')
  .col-lg-2
  .col-lg-8
    .row
      h2= pageHeader.title
      hr(style='height:2px;border:none;color:#333;background-color:#333;')
      .container
        .row
          .col-lg-4
            img.img-responsive.img-rounded.schoolImg(src=picture_image)
          .col-lg-8
            .panel.panel-primary
                .panel-body
                  h3.nmh= labNameKor
                  h4.spotlight= labNameEng
                  .container
                    h4 지도교수 : 
                      span.spotlight=headerName
                      span 교수
                    h4 연구분야 : 
                      span.spotlight=field
                      span 분야
                    h4 연구실 관련 정보 
                      a.h5(href=homePage)= enook

  .row
  .col-lg-2